<div class="rwo">
  <div class="col-12">
    <button
      type="button"
      class="btn btn-outline-primary"
      routerLink="/heroe/nuevo"
    >
      <i class="fa fa-plus">Agregar</i>
    </button>
  </div>
</div>
<!-- <br /> -->

<table class="table mt-3 animated slow">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Poder</th>
      <th scope="col">Vivo</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
</table>

<table *ngIf="!cargando && heroes.length !== 0" class="table">
  <tbody>
    <tr *ngFor="let heroe of heroes; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ heroe.nombre }}</td>
      <td>{{ heroe.poder }}</td>
      <td>
        <span class="badge badge-success" *ngIf="heroe.vivo">Vivo</span>
        <span class="badge badge-danger" *ngIf="!heroe.vivo">Muerto</span>
      </td>
      <td>
        <button
          type="button"
          class="btn btn-outline-dark"
          [routerLink]="['/heroe', heroe.id]"
        >
          <i class="fa fa-pencil-alt" aria-hidden="true"></i>
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="borrarHeroe(heroe, i)"
        >
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div
  *ngIf="!cargando && heroes.length === 0"
  class="alert alert-warning text-center mt-3 "
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fas fa-exclamation fa-5x  "></i>
  </p>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fas fa-sync fa-spin fa-5x  "></i>
  </p>
  <p class="mb-00">
    Espere por Favor
  </p>
</div>
