<h1>Heroe <small>Nombre del Heroe</small></h1>
<hr />

<div class="row text-right">
  <div class="col"></div>
  <button type="button" class="btn btn-outline-danger" routerLink="/heroes">
    <i class="fa fa-fast-backward"></i>
    Regresar
  </button>
</div>

<div class="rwo animated fadeIn faster">
  <div class="col">
    <form (ngSubmit)="guardar(f)" #f="ngForm">
      <div class="form-group">
        <label>Firebase ID</label>
        <input
          type="text"
          name="id"
          [(ngModel)]="heroe.id"
          class="form-control"
          placeholder="Firebase ID"
          aria-describedby="helpId"
          disabled="disabled"
        />
        <small class="form-text text-muted">Este Campo es autogenerado</small>
      </div>
      <div class="form-group">
        <label>Nombre</label>
        <input
          type="text"
          name="nombre"
          [(ngModel)]="heroe.nombre"
          class="form-control"
          placeholder="Nombre del Heroe"
          required
          minlength="5"
          #nombre="ngModel"
        />
        <div class="form-group" *ngIf="nombre.errors?.required">
          <small class="form-text text-muted">Este Campo es requerido</small>
        </div>
        <div class="form-group" *ngIf="nombre.errors?.minlength">
          <small class="form-text text-muted">Al menos 5 caracteres</small>
        </div>
      </div>
      <div class="form-group">
        <label>Poder</label>
        <input
          type="text"
          name="poder"
          [(ngModel)]="heroe.poder"
          class="form-control"
          placeholder="Poder del Heroe"
        />
      </div>

      <div class="form-group">
        <label>Estado</label>
        <br />
        <button
          *ngIf="heroe.vivo"
          (click)="heroe.vivo = false"
          type="button"
          class="btn btn-outline-success w-50"
        >
          <i class="fa fa-smile"></i>
          vivo
        </button>
        <button
          type="button"
          class="btn btn-outline-danger w-50"
          *ngIf="!heroe.vivo"
          (click)="heroe.vivo = true"
        >
          <i class="fas fa-user-alt-slash"></i>
          muerto
        </button>
      </div>
      <hr />
      <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-primary w-50">
          <i class="fas fa-save    "></i>
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
